[req]
prompt = no
default_bits = 2048
default_md = sha256
distinguished_name = dist

[dist]
C=IN
ST=MH
L=XYZCity
O=XYZOrganization
OU=XYZOrganizationUnit
emailAddress=hello@example.com
CN = devops.internal [or insert ip address of your server]

#authorityKeyIdentifier=keyid,issuer
#basicConstraints=CA:FALSE
#keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
#subjectAltName = @alt_names


#[alt_names]
#DNS.1 = suraj.com
#OR
#IP.1= 10.0.0.11 [IP.1 IP.2 for ip addresses or DNS.1 for DNS names]
